eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
server:
  port: 8083
spring:
  application:
    name: album-service
  datasource:
    password: spotify_pass
    url: jdbc:postgresql://localhost:5432/spotifydb
    username: spotify_user
  jpa:
    hibernate:
      ddl-auto: update
  output:
    ansi:
      enabled: always