# Jenkins login information
jenkins_username=
jenkins_password=

# https://github.com/settings/apps or your org's github apps
# For the Jenkins Checks API plugin and general auth 
github_app_team_id=

# https://github.com/settings/personal-access-tokens
# For GitHub Rest API auth. Password is just the token itself
github_pat_username=
github_pat_password=
