jenkins_username=
jenkins_password=

# https://github.com/settings/apps or your org's github apps
github_app_team_id=

# https://github.com/settings/personal-access-tokens
github_pat_username=
github_pat_password=
