services:
  jenkins:
    build: .
    volumes:
      - jenkins-data:/var/jenkins_home
    ports:
      - ${JENKINS_PORT}:8080
      - ${JENKINS_AGENT_PORT}:50000
    environment:
      JAVA_OPTS: -Djenkins.install.runSetupWizard=false
    secrets:
      - secrets.properties
      - github_app_team_key
    restart: unless-stopped

volumes:
  jenkins-data:

secrets:
  secrets.properties:
    file: ./secrets/secrets.properties
  github_app_team_key:
    file: ./secrets/github_app_team_key.pem
