<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
  <scope>GLOBAL</scope>
  <id>main-github-pat</id>
  <description>GitHub PAT</description>
  <username>YOUR_USERNAME</username>
  <password>THE_TOKEN</password>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
